<html>
    <head>
      {% if title %}
      <title>{{ title }} - Microblog</title>
      {% else %}
      <title>Welcome to Microblog</title>
      {% endif %}
    </head>
    <body>
        <div>Homepage: <a href="/">Home</a></div>
        <div>IP Address: <a href="/get_ip_addr">ifconfig</a></div>
        <div>Mount status: <a href="/nas_mount_status">mnt_status</a></div>
        <div>Deluge status: <a href="/deluge_status">deluge_status</a></div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
