<html ng-app="PiFaceApp">
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>

  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>Welcome to PiFace</title>
  {% endif %}

</head>
<body ng-controller="PiFaceController">
<!--Top Nav Bar-->
<nav class="navbar navbar-expand navbar-dark bg-dark"> 
    <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"> <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> </li>
            <li class="nav-item"> <a class="nav-link" href="#contact">Contact</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#about">About</a> </li>
        </ul>
        <form class="form-inline my-2 my-md-0"> </form>
    </div>
    <a href="#menu-toggle" id="menu-toggle" class="navbar-brand">
        <span class="navbar-toggler-icon"></span>
    </a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation"> 
        <span class="navbar-toggler-icon"></span> 
    </button>
</nav>
<!--End of top Nav Bar-->
<div id="wrapper" class="toggled">
    {%block settings %}{% endblock %}
    {%block buttons %}{% endblock %}
</div>
</body>
</html>
