{% extends "base.html" %}

{% block buttons %}
    <div class="btn-group row text-center">
        <button class="col-sm|md|lg|xl-2 btn btn-primary rounded" id="ip_addr_btn"   ng-click="btn_click($event);"  >IP Address</button>
        <button class="col-sm|md|lg|xl-2 btn btn-primary rounded" id="mnt_stat_btn"  ng-click="btn_click($event);" >Mount Status</button>
        <button class="col-sm|md|lg|xl-2 btn btn-primary rounded" id="deluge_btn" ng-click="btn_click($event);">Deluge Status</button>
        <button class="col-sm|md|lg|xl-2 btn btn-primary rounded" id="syncthing_btn" ng-click="btn_click($event);">Syncthing Status</button>
        <button class="col-sm|md|lg|xl-2 btn btn-primary rounded" id="magicmirror_start_btn" ng-click="btn_click($event);">Magic Mirror Start</button>
        <button class="col-sm|md|lg|xl-2 btn btn-primary rounded" id="magicmirror_stop_btn" ng-click="btn_click($event);">Magic Mirror Stop</button>
	<!--
        <button class="col-sm|md|lg|xl-2 btn btn-primary rounded" id="display_up_btn" ng-click="btn_click($event);">Power Display Up</button>
	-->
	<button class="col-sm|md|lg|xl-2 btn btn-primary rounded" id="reboot_btn" ng-click="btn_click($event);">Reboot Raspi</button>
    </div>
{% endblock %}
